.card {
  margin-top: 180px;
  margin-right: 500px;
}

.card__container {
  background-color: #fde8f5;
  width: 1000px;
  height: 500px;
  border-radius: 45px;
}

.card__container h2 {
  position: absolute;
  color: #212353;
  margin-left: 550px;
  margin-top: 135px;
  font-size: 30px;
}

.card__container p {
  position: absolute;
  margin-left: 550px;
  margin-top: 250px;
  line-height: 1.5;
  font-size: 14px;
  color: #4b5d68;
}

.card__container img {
  position: absolute;
  margin-left: 75px;
  margin-top: 50px;
}
