.app {
  background-color: black;
}

.app__container {
  position: relative;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.app__videos::-webkit-scrollbar {
  display: none;
}
